#popbox_bg { 
    position: fixed; 
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url('popbox-bg.png');
    z-index: 200;
    text-align: center;
    overflow: auto;
    display: none;
}
#popbox { 
    color: #fec;
    z-index: 250;
    margin: auto;
    margin-top: 40px;
    max-width: 660px;
}
#popbox img, #popbox embed { 
    border: 8px solid #000;
    background: #000 url('loading-circle.gif');
    background-repeat: no-repeat; 
    background-position: center center;
    border-radius: 3px;
    min-width: 25px;
    min-height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 260;
}
#popbox_bg a { 
    font-weight: bold;
    font-size: 1.3em;
    color: #fffcf5;
}
#popbox_bg a:hover { 
    color: #fffefd;
}
