{% extends 'base.html' %}
{% block title %}{{page.title|truncate(20)}}{% endblock %}
{% block content %}
<h1 id="page_title">{{page.title}}</h1>
{% if page.keywords %}
    <div id="page_keywords">
        <p>
        {{ _('Tagged in ') }}
        {% for kw in page.keywords %}
        <a href="{{path_prefix}}/{{lang}}/pages/bykeyword/{{kw.keyword}}"><span class="keyword">{{ kw.keyword }}</span></a>
        {% endfor %}
        </p>
    </div>
{% endif %}
{{page.content}}

{% if theme_data.addthis_page_block %}
    {{ theme_data.addthis_page_block }}
{% endif %}

{% endblock %}
