#menu_wrapper { height: 36px; line-height: 0px; margin: 0; padding: 0; }
.nopad {margin:0; padding:0; outline:0}
.nav {
    height:36px;
    margin: 0px;
    background:#222; 
    color:#fff; 
    text-shadow:1px 1px #000; 
    z-index:1000;
    position: fixed; 
    top: 0px;
    width: 100%;
    box-shadow: 0px 1px 4px #222;
}
.menu a {
    float:left; 
    color:#eee; 
    text-decoration:none; 
    /* width:140px; */
    height:28px; 
    padding-top:8px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu span {
    float:left; 
    color:#eee; 
    text-decoration:none;
    /* width:140px; */
    height:28px; 
    padding-top:8px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu a:hover {
    color:#fff;
}
.menu {
    list-style:none; 
    font:16px Arial,Verdana; 
    text-align:center; 
    width:960px; 
    margin:0 auto;

}
.menu li {
    position:relative; 
    float:left; 
    /* width:140px; */
    /* z-index:50; */
    border-right: 1px solid #000;
    border-left: 1px solid #333;
}
.menu ul {
    display:none; 
    position:absolute; 
    font:normal 14px Arial,Verdana; 
    top:36px; 
    left:0; 
    margin: 0px;
    background:#222; 
    display:none;
    list-style:none;
}
.menu ul li {float:none; box-shadow: 0px 1px 3px #111; border: 0px; border-top:1px solid #333; width:180px; z-index: 50;}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {
    float:none; display:block; background:none; 
    height:22px; 
    padding-top:5px; z-index: 100; 
}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {
    background:#333; color:#fff;
}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {
    float:none; display:block; background:none; 
    height:22px; 
    padding-top:5px; z-index: 50;
}
.menu ul ul {left:180px; top:-1px; z-index: 50;}
.menu li.submenu {font-weight:bold;}
.menu li.noborder {border-top:none;}
li.menuhover a, li.menuhover li.menuhover a {color:#fff; background:#333}
li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#333}
/* #info {width:180px; background:#eee} */
/* #info li {width:180px; border-top:none; padding:8px 10px; color:#666; text-shadow:1px 1px #f00; text-align:left} */

#search_div, .menu li #search_div { 
    padding: 8px;
    background: #333;
    box-shadow: 0px 1px 4px #222;
    position: fixed;
    top: 36px; 
    z-index: 10;
}
